/* Utility Classes */

.background-primary {
    background-color: #db291d;
    color: white;
 }
 .background-secondary {
    background-color: rgb(247,169,168);
    color: black;
 }
 .background-accent {
    background-color: rgb(97, 63, 117);
    color: white;
 }
 .background-light {
    background-color: rgb(229, 195, 209);
    color: black;
 }
 .background-dark {
    background-color: rgb(152, 139, 142);
    color: white;
 }
 
 #header-div > h3 {
    margin-bottom: 0px;
 }
 